In [1]:
import pandas as pd
pd.set_option('display.max_rows', 25000)

In [2]:
aapl_2017_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\1. Data Cleaning\\aapl_2017_df.csv')
aapl_2018_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\1. Data Cleaning\\aapl_2018_df.csv')
aapl_2019_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\1. Data Cleaning\\aapl_2019_df.csv')
aapl_2020_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\1. Data Cleaning\\aapl_2020_df.csv')
aapl_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\1. Data Cleaning\\aapl_df.csv')

In [3]:
# only collects the columns we want to analyze and changes the format of the column to make it more readable
def call_df(dataframe):
    dataframe = dataframe[[' [QUOTE_DATE]', ' [EXPIRE_DATE]',
                           ' [UNDERLYING_LAST]', ' [DTE]',
                           ' [STRIKE]', ' [C_ASK]',
                           ' [C_BID]', ' [C_DELTA]',
                           ' [C_GAMMA]', ' [C_VEGA]',
                           ' [C_THETA]', ' [C_VOLUME]',
                           ' [C_IV]']]

    
    dataframe = dataframe.rename(columns = {' [QUOTE_DATE]':'QUOTE_DATE',                          
                                            ' [EXPIRE_DATE]':'EXPIRE_DATE', 
                                            ' [UNDERLYING_LAST]':'LAST_PRICE',
                                            ' [DTE]':'DTE',
                                            ' [STRIKE]':'STRIKE',
                                            ' [C_ASK]':'C_ASK',
                                            ' [C_BID]':'C_BID',
                                            ' [C_DELTA]':'C_DELTA',
                                            ' [C_GAMMA]':'C_GAMMA',
                                            ' [C_VEGA]':'C_VEGA',
                                            ' [C_THETA]':'C_THETA',
                                            ' [C_VOLUME]':'C_VOLUME',
                                            ' [C_IV]':'C_IV'
                                            })
    return dataframe

In [4]:
def put_df(dataframe):
    dataframe = dataframe[[' [QUOTE_DATE]', ' [EXPIRE_DATE]',
                           ' [UNDERLYING_LAST]', ' [DTE]',
                           ' [STRIKE]', ' [P_ASK]',
                           ' [P_BID]', ' [P_DELTA]',
                           ' [P_GAMMA]', ' [P_VEGA]',
                           ' [P_THETA]', ' [P_VOLUME]',
                           ' [P_IV]']]

    dataframe = dataframe.rename(columns={' [QUOTE_DATE]': 'QUOTE_DATE',
                                          ' [EXPIRE_DATE]': 'EXPIRE_DATE',
                                          ' [UNDERLYING_LAST]': 'LAST_PRICE',
                                          ' [DTE]': 'DTE',
                                          ' [STRIKE]': 'STRIKE',
                                          ' [P_ASK]': 'P_ASK',
                                          ' [P_BID]': 'P_BID',
                                          ' [P_DELTA]': 'P_DELTA',
                                          ' [P_GAMMA]': 'P_GAMMA',
                                          ' [P_VEGA]': 'P_VEGA',
                                          ' [P_THETA]': 'P_THETA',
                                          ' [P_VOLUME]': 'P_VOLUME',
                                          ' [P_IV]': 'P_IV'
                                          })
    return dataframe

In [5]:
aapl_2017_df_put = put_df(aapl_2017_df)
aapl_2018_df_put = put_df(aapl_2018_df)
aapl_2019_df_put = put_df(aapl_2019_df)
aapl_2020_df_put = put_df(aapl_2020_df)
aapl_put_df = put_df(aapl_df)

In [6]:
aapl_put_df

,QUOTE_DATE,EXPIRE_DATE,LAST_PRICE,DTE,STRIKE,P_ASK,P_BID,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_VOLUME,P_IV
0,2017-01-03,2017-01-06,116.14,3.00,70.0,0.01,0.00,-0.00095,0.00014,0.00038,-0.00405,0.0,1.58978
1,2017-01-03,2017-06-16,116.14,163.96,55.0,0.06,0.01,-0.00272,0.00022,0.00677,-0.00090,0.0,0.41986
2,2017-01-03,2017-06-16,116.14,163.96,60.0,0.06,0.05,-0.00534,0.00047,0.01165,-0.00175,200.0,0.40007
3,2017-01-03,2017-06-16,116.14,163.96,65.0,0.10,0.07,-0.00775,0.00070,0.01646,-0.00229,0.0,0.37233
4,2017-01-03,2017-06-16,116.14,163.96,70.0,0.16,0.12,-0.01377,0.00122,0.02675,-0.00258,0.0,0.35499
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859908,2020-12-31,2021-01-29,132.60,29.00,190.0,57.50,56.90,-1.00000,0.00000,0.40359,0.00000,0.0,0.00000
859909,2020-12-31,2021-01-29,132.60,29.00,185.0,52.56,51.95,-1.00000,0.00000,0.40395,0.00000,0.0,0.00000
859910,2020-12-31,2021-01-29,132.60,29.00,180.0,47.60,47.00,-1.00000,0.00000,0.40429,0.00000,0.0,0.00000
859911,2020-12-31,2021-02-05,132.60,36.00,75.0,0.17,0.07,-0.00890,0.00071,0.01041,-0.01168,0.0,0.80270
859912,2020-12-31,2023-03-17,132.60,805.96,200.0,77.55,75.60,-0.67664,0.00406,0.66031,-0.01416,4.0,0.34749

Adding another column that shows PROB_ITM

In [7]:
aapl_put_df['PROB_ITM'] = aapl_put_df['P_DELTA'] * -100
aapl_put_df

,QUOTE_DATE,EXPIRE_DATE,LAST_PRICE,DTE,STRIKE,P_ASK,P_BID,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_VOLUME,P_IV,PROB_ITM
0,2017-01-03,2017-01-06,116.14,3.00,70.0,0.01,0.00,-0.00095,0.00014,0.00038,-0.00405,0.0,1.58978,0.095
1,2017-01-03,2017-06-16,116.14,163.96,55.0,0.06,0.01,-0.00272,0.00022,0.00677,-0.00090,0.0,0.41986,0.272
2,2017-01-03,2017-06-16,116.14,163.96,60.0,0.06,0.05,-0.00534,0.00047,0.01165,-0.00175,200.0,0.40007,0.534
3,2017-01-03,2017-06-16,116.14,163.96,65.0,0.10,0.07,-0.00775,0.00070,0.01646,-0.00229,0.0,0.37233,0.775
4,2017-01-03,2017-06-16,116.14,163.96,70.0,0.16,0.12,-0.01377,0.00122,0.02675,-0.00258,0.0,0.35499,1.377
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859908,2020-12-31,2021-01-29,132.60,29.00,190.0,57.50,56.90,-1.00000,0.00000,0.40359,0.00000,0.0,0.00000,100.000
859909,2020-12-31,2021-01-29,132.60,29.00,185.0,52.56,51.95,-1.00000,0.00000,0.40395,0.00000,0.0,0.00000,100.000
859910,2020-12-31,2021-01-29,132.60,29.00,180.0,47.60,47.00,-1.00000,0.00000,0.40429,0.00000,0.0,0.00000,100.000
859911,2020-12-31,2021-02-05,132.60,36.00,75.0,0.17,0.07,-0.00890,0.00071,0.01041,-0.01168,0.0,0.80270,0.890
859912,2020-12-31,2023-03-17,132.60,805.96,200.0,77.55,75.60,-0.67664,0.00406,0.66031,-0.01416,4.0,0.34749,67.664

Creating a df that meets my criteria of trading option contract

In [12]:
trading_df = pd.DataFrame()
for rows in range(len(aapl_put_df)):
    if (30 <= aapl_put_df['PROB_ITM'][rows] <= 34) and (38 <= aapl_put_df['DTE'][rows] <= 45):
        trade_row = (aapl_put_df.iloc[[rows]])
        trading_df = pd.concat([trading_df,trade_row])
trading_df = trading_df.reset_index(drop = True)
print('total trade: ', len(trading_df))
trading_df.head(5)

total trade:  929

,QUOTE_DATE,EXPIRE_DATE,LAST_PRICE,DTE,STRIKE,P_ASK,P_BID,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_VOLUME,P_IV,PROB_ITM
0,2017-01-03,2017-02-10,116.14,38.0,112.0,2.05,1.94,-0.32230,0.03916,0.13607,-0.04561,97.0,0.24077,32.230
1,2017-01-09,2017-02-17,119.00,39.0,115.0,1.93,1.91,-0.32238,0.04071,0.14104,-0.04250,0.0,0.22360,32.238
2,2017-01-10,2017-02-24,119.11,45.0,115.0,2.01,1.96,-0.32366,0.03974,0.15156,-0.03798,34.0,0.21367,32.366
3,2017-01-10,2017-02-17,119.11,38.0,115.0,1.88,1.83,-0.31683,0.04110,0.13843,-0.04330,0.0,0.22182,31.683
4,2017-01-11,2017-02-24,119.73,44.0,116.0,2.15,2.11,-0.33941,0.04055,0.15374,-0.04029,308.0,0.21385,33.941

Any rows with same `EXPIRE_DATE` is considered same option trade because they are same contract just read on different date.

We only want 1 contract per day so we will
- only retrieve one unique expire date
- only retrieve one unique strike

ex. index 5,6,7 are the same trade but read on different date

### Deleting the dupe EXPIRE_DATE

In [14]:
seen_expire = []
my_trade = pd.DataFrame(columns = ['QUOTE_DATE','EXPIRE_DATE','LAST_PRICE','DTE','STRIKE','P_ASK','P_BID','P_DELTA','P_GAMMA','P_VEGA','P_THETA','P_VOLUME','P_IV'])
for i in range(len(trading_df)):
    expire_date = trading_df['EXPIRE_DATE'][i]
    if expire_date not in seen_expire:   
        seen_expire.append(expire_date)
        trade_row = trading_df.iloc[[i]]
        my_trade = pd.concat([my_trade, trade_row])
        my_trade = my_trade.reset_index(drop=True)
    else:
        pass
print('total trade: ', len(my_trade))
my_trade.head(5)

total trade:  203

,QUOTE_DATE,EXPIRE_DATE,LAST_PRICE,DTE,STRIKE,P_ASK,P_BID,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_VOLUME,P_IV,PROB_ITM
0,2017-01-03,2017-02-10,116.14,38.0,112.0,2.05,1.94,-0.32230,0.03916,0.13607,-0.04561,97.0,0.24077,32.230
1,2017-01-09,2017-02-17,119.00,39.0,115.0,1.93,1.91,-0.32238,0.04071,0.14104,-0.04250,0.0,0.22360,32.238
2,2017-01-10,2017-02-24,119.11,45.0,115.0,2.01,1.96,-0.32366,0.03974,0.15156,-0.03798,34.0,0.21367,32.366
3,2017-01-17,2017-03-03,119.99,45.0,116.0,1.98,1.90,-0.32601,0.04116,0.15334,-0.03764,7.0,0.20491,32.601
4,2017-01-26,2017-03-10,122.00,43.0,118.0,1.74,1.58,-0.31363,0.04486,0.15007,-0.03473,0.0,0.18617,31.363

each row of `my_df` is our option trade and each row is needed to find the full contract of the data

in order to harvest full historic option contract data, we need
- EXPIRE_DATE
- STRIKE
- DTE

In [17]:
latest_expire = my_trade.iloc[[0]]['EXPIRE_DATE'].tolist()[0]
latest_strike = my_trade.iloc[[0]]['STRIKE'].tolist()[0]
latest_dte = my_trade.iloc[[0]]['DTE'].tolist()[0]
aapl_put_df.loc[(aapl_put_df['EXPIRE_DATE'] == latest_expire) & (aapl_put_df['STRIKE'] == latest_strike) & (aapl_put_df['DTE'] <= latest_dte)]

,QUOTE_DATE,EXPIRE_DATE,LAST_PRICE,DTE,STRIKE,P_ASK,P_BID,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_VOLUME,P_IV,PROB_ITM
449,2017-01-03,2017-02-10,116.14,38.0,112.0,2.05,1.94,-0.32230,0.03916,0.13607,-0.04561,97.0,0.24077,32.230
1045,2017-01-04,2017-02-10,116.02,37.0,112.0,1.84,1.71,-0.31363,0.04210,0.13286,-0.04202,23.0,0.22452,31.363
1688,2017-01-05,2017-02-10,116.61,36.0,112.0,1.63,1.51,-0.28558,0.04015,0.12565,-0.04137,16.0,0.22845,28.558
2330,2017-01-06,2017-02-10,117.91,35.0,112.0,1.28,1.18,-0.23842,0.03659,0.11420,-0.03857,90.0,0.22802,23.842
3017,2017-01-09,2017-02-10,119.00,32.0,112.0,1.05,0.97,-0.20249,0.03236,0.10038,-0.03909,28.0,0.24298,20.249
3602,2017-01-10,2017-02-10,119.11,31.0,112.0,0.99,0.93,-0.19590,0.03236,0.09768,-0.03857,45.0,0.24202,19.590
4183,2017-01-11,2017-02-10,119.73,30.0,112.0,0.90,0.81,-0.17819,0.03023,0.09109,-0.03855,25.0,0.24701,17.819
4840,2017-01-12,2017-02-10,119.25,29.0,112.0,0.98,0.83,-0.18853,0.03190,0.09226,-0.03978,33.0,0.24680,18.853
5464,2017-01-13,2017-02-10,119.03,28.0,112.0,0.93,0.81,-0.18946,0.03336,0.09066,-0.04002,101.0,0.24099,18.946
5976,2017-01-17,2017-02-10,119.99,24.0,112.0,0.82,0.65,-0.16084,0.02938,0.07630,-0.04271,25.0,0.26457,16.084
6589,2017-01-18,2017-02-10,119.97,23.0,112.0,0.64,0.56,-0.14615,0.02959,0.07049,-0.03915,83.0,0.25168,14.615
7154,2017-01-19,2017-02-10,119.77,22.0,112.0,0.70,0.62,-0.15516,0.03022,0.07193,-0.04263,36.0,0.26221,15.516
7846,2017-01-20,2017-02-10,120.01,21.0,112.0,0.59,0.48,-0.13686,0.02937,0.06465,-0.03893,10.0,0.25326,13.686
8240,2017-01-23,2017-02-10,120.09,18.0,112.0,0.52,0.46,-0.12893,0.02862,0.05778,-0.04248,40.0,0.26901,12.893
8903,2017-01-24,2017-02-10,119.97,17.0,112.0,0.48,0.41,-0.12444,0.02900,0.05428,-0.04215,28.0,0.26451,12.444
9565,2017-01-25,2017-02-10,121.92,16.0,112.0,0.29,0.24,-0.07881,0.02031,0.03845,-0.03204,50.0,0.27493,7.881
10273,2017-01-26,2017-02-10,122.00,15.0,112.0,0.31,0.23,-0.07938,0.02030,0.03755,-0.03437,9.0,0.28442,7.938
10958,2017-01-27,2017-02-10,121.72,14.0,112.0,0.28,0.18,-0.07443,0.02082,0.03482,-0.03346,21.0,0.27385,7.443
11672,2017-01-30,2017-02-10,121.57,11.0,112.0,0.33,0.31,-0.09116,0.02224,0.03640,-0.05223,75.0,0.33398,9.116
12329,2017-01-31,2017-02-10,121.30,10.0,112.0,0.33,0.31,-0.09372,0.02321,0.03551,-0.05636,0.0,0.34070,9.372
12989,2017-02-01,2017-02-10,128.75,9.0,112.0,0.02,0.02,-0.00914,0.00330,0.00509,-0.00914,370.0,0.35673,0.914
13751,2017-02-02,2017-02-10,128.53,8.0,112.0,0.03,0.01,-0.00925,0.00344,0.00497,-0.00938,2.0,0.36996,0.925
14484,2017-02-03,2017-02-10,129.07,7.0,112.0,0.02,0.00,-0.00591,0.00247,0.00350,-0.00709,15.0,0.37853,0.591
15137,2017-02-06,2017-02-10,130.29,4.0,112.0,0.01,0.00,-0.00203,0.00110,0.00095,-0.00361,558.0,0.45168,0.203
15824,2017-02-07,2017-02-10,131.51,3.0,112.0,0.02,0.00,-0.00427,0.00148,0.00116,-0.00793,811.0,0.57086,0.427
16530,2017-02-08,2017-02-10,132.04,2.0,112.0,0.03,0.00,-0.00427,0.00148,0.00156,-0.00896,340.0,0.66832,0.427
17268,2017-02-09,2017-02-10,132.41,1.0,112.0,0.01,0.00,-0.00224,0.00084,0.00074,-0.00472,0.0,0.79821,0.224
18037,2017-02-10,2017-02-10,132.12,0.0,112.0,0.01,0.00,-0.00178,0.00090,0.00096,-0.00489,0.0,1.11831,0.178

Because our data is limited, some contracts will not have full data so we will only collect the contract that has full data

In [17]:
complete_c = []
not_complete_c = []
for i in range(len(my_trade)):
    expire = my_trade.iloc[[i]]['EXPIRE_DATE'].tolist()[0]
    strike = my_trade.iloc[[i]]['STRIKE'].tolist()[0]
    dte = my_trade.iloc[[i]]['DTE'].tolist()[0]
    
    f_trade_df = aapl_put_df.loc[(aapl_put_df['EXPIRE_DATE'] == expire) & (aapl_put_df['STRIKE'] == strike) & (aapl_put_df['DTE'] <= dte)]
    f_trade_df = f_trade_df.reset_index(drop=True)
    if (f_trade_df['DTE'].tail(1).tolist()[0] == 0) or (f_trade_df['DTE'].tail(1).tolist()[0] == 1) or (f_trade_df['DTE'].tail(1).tolist()[0] == 2): # I only want df that contains full data
        complete_c.append(f_trade_df)
    else:
        not_complete_c.append(f_trade_df)

We will delete `not complete` contracts from our trading df

In [18]:
len(my_trade)

203

In [19]:
# only getting list of not complete date so we can remove them from our trade dataframe
not_complete_c_date = []
for i in range(len(not_complete_c)):
    not_complete_c_date.append(not_complete_c[i]['QUOTE_DATE'][0])
not_complete_c_date

['2020-07-23',
 '2020-07-30',
 '2020-08-04',
 '2020-08-11',
 '2020-08-18',
 '2020-08-27',
 '2020-11-25',
 '2020-12-01',
 '2020-12-08',
 '2020-12-15',
 '2020-12-28',
 '2020-12-31']

In [20]:
for i in range(len(my_trade)):
    if my_trade['QUOTE_DATE'][i] in not_complete_c_date:
        my_trade = my_trade.drop([i])        
my_trade = my_trade.reset_index(drop=True)

In [21]:
len(my_trade)

191

In [26]:
my_trade.to_csv('my_trades.csv',index=False)
aapl_put_df.to_csv('aapl_put_df.csv',index=False)